@model IEnumerable<VentasProyect.Models.Persona.Persona>

@{
    var typoVista = Model.First().per_vista;
}

@Styles.Render("~/tables")

<h2>Personas</h2>

<div class="col-md-12 table-style">
    <div class="container-buttom">
        <a href="@Url.Action("Create", "Persona",new{ typeView = typoVista})" class="btn btn-default btn-add-form">
            <span class="icon-logout">Registrar Persona</span>
            <span class="material-symbols-outlined">
                add
            </span>
        </a>
    </div>

    <table id="MyTable" class="">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>T. Cuenta</th>
                <th>Cuenta Bancaria</th>
                <th>Correo Electrónico</th>
                <th>T. Id</th>
                <th>Identificación</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.per_nombre</td>
                    <td>@data.per_direccion</td>
                    <td>@data.per_telefono</td>
                    <td>@data.per_tipo_cuenta</td>
                    <td>@data.per_cuenta_bancaria</td>
                    <td>@data.per_correo</td>
                    <td>@data.per_tipo_documento</td>
                    <td>@data.per_nit</td>
                    <td>@data.per_tipo</td>
                    <td>
                        <a href="@Url.Action("Edit", "Persona", new { id = data.per_id, typeView = typoVista})">
                            <span class="material-symbols-outlined icon-actions-table">
                                edit_square
                            </span>
                        </a>

                        <a href="@Url.Action("Details", "Persona", new { id = data.per_id, typeView = typoVista })">
                            <span class="material-symbols-outlined icon-actions-table">
                                text_ad
                            </span>
                        </a>
                        <a href="@Url.Action("Delete", "Persona", new { id = data.per_id, typeView = typoVista })">
                            <span class="material-symbols-outlined icon-actions-table">
                                delete
                            </span>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/TableScript")
}
