@model IEnumerable<VentasProyect.Models.Productos.Productos>

@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/HomeIndex")

<h2 class="title">Productos Disponibles</h2>

<div class="category-filter">
    <div class="group-filter">
        <button id="category-button" class="btn btn-secondary btn-filtrar"><span class="material-symbols-outlined" style="font-variation-settings:normal">filter_alt</span>Sin filtros aplicados</button>
        <ul id="category-list" class="d-none">
            @foreach (var categoria in ViewBag.Categories)
            {
                <li class="list_filter">
                    <input type="checkbox" id="cat_@categoria.Value" value="@categoria.Value" data-name="@categoria.Text">
                    <label for="cat_@categoria.Value">@categoria.Text</label>
                </li>
            }
        </ul>
    </div>
    <label for="category-button">Seleccione categoría:</label>
</div>

<div id="product-container">
    @Html.Partial("_ProductList", Model)
</div>

@Html.Partial("_ProductPopup")

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/ScriptBtFilter")
<script src="~/Scripts/Home/popup.js"></script>
}
