@model VentasProyect.Models.Ciudad.Ciudad

@{
    ViewBag.Title = "Crear Ciudad";
}

@Styles.Render("~/Forms")

<div class="container-buttom">
    <a href="@Url.Action("Index", "Ciudad")" class="btn btn-default btn-back">
        <span class="material-symbols-outlined">
            arrow_circle_left
        </span>
        <span class="icon-logout">Regresar</span>
    </a>
</div>

<div class="form-container">

    <h2>CREAR CIUDAD</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined">
                        location_city
                    </span>
                    @Html.TextBoxFor(model => model.ciu_nombre, new { @class = "form-control", @onchange = "CapitalizeText(this)", placeholder = "Ciudad" })
                    @Html.ValidationMessageFor(model => model.ciu_nombre, "", new { @class = "field-validation-error" })
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined">
                        home_pin
                    </span>
                    @Html.TextBoxFor(model => model.ciu_depto, new { @class = "form-control", @onchange = "CapitalizeText(this)", placeholder = "Departamento" })
                    @Html.ValidationMessageFor(model => model.ciu_depto, "", new { @class = "field-validation-error" })
                </div>
            </div>
        </div>

        <div class="content-button">
            <div class="container-btn">
                <button type="submit" class="btn btn-primary">
                    GUARDAR
                    <span class="material-symbols-outlined">
                        library_add
                    </span>
                </button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/Generales/General.js"></script>