@model VentasProyect.Models.Ciudad.Ciudad

@{
    ViewBag.Title = "Editar Ciudad";
}

@Styles.Render("~/Forms")

<div class="container-buttom">
    <a href="@Url.Action("Index", "Ciudad")" class="btn btn-default btn-back">
        <span class="material-symbols-outlined">
            arrow_circle_left
        </span>
        <span class="icon-logout">Regresar</span>
    </a>
</div>

<div class="form-container">

    <h2>EDITAR CIUDAD</h2>

    @using (Html.BeginForm("Edit", "Ciudad", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.ciu_id)

        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined pos-top">
                        location_city
                    </span>
                    @Html.LabelFor(model => model.ciu_nombre)
                    @Html.TextBoxFor(model => model.ciu_nombre, new { @class = "form-control", @onchange = "CapitalizeText(this)" })
                    @Html.ValidationMessageFor(model => model.ciu_nombre, "", new { @class = "field-validation-error" })
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined pos-top">
                        home_pin
                    </span>
                    @Html.LabelFor(model => model.ciu_depto)
                    @Html.TextBoxFor(model => model.ciu_depto, new { @class = "form-control", @onchange = "CapitalizeText(this)" })
                    @Html.ValidationMessageFor(model => model.ciu_depto, "", new { @class = "field-validation-error" })
                </div>
            </div>
        </div>

        <div class="content-button">
            <div class="container-btn">
                <button type="submit" class="btn btn-primary">
                    GUARDAR
                    <span class="material-symbols-outlined">
                        source_notes
                    </span>
                </button>
            </div>
        </div>
    }
</div>

    <script src="~/Scripts/Generales/General.js"></script>
