@model VentasProyect.Models.Ciudad.Ciudad

@{
    ViewBag.Title = "Editar Ciudad";
}

<h2>Editar Ciudad</h2>

@using (Html.BeginForm("Edit", "Ciudad", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ciu_id)
  
<div class="form-group">
    @Html.LabelFor(model => model.ciu_nombre)
    @Html.TextBoxFor(model => model.ciu_nombre, new { @class = "form-control", @onchange = "CapitalizeText(this)" })
    @Html.ValidationMessageFor(model => model.ciu_nombre, "", new { @class = "field-validation-error" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ciu_depto)
    @Html.TextBoxFor(model => model.ciu_depto, new { @class = "form-control", @onchange = "CapitalizeText(this)" })
    @Html.ValidationMessageFor(model => model.ciu_depto, "", new { @class = "field-validation-error" })
</div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
}

<script src="~/Scripts/Generales/General.js"></script>