@model IEnumerable<VentasProyect.Models.Ciudad.Ciudad>

@{
    ViewBag.Title = "Ciudad";
}

@Styles.Render("~/tables")

<h2>Ciudades</h2>

<div class="col-md-12 table-style">
    <div class="container-buttom">
        <a href="@Url.Action("Create", "Ciudad")" class="btn btn-default btn-add-form">
            <span class="icon-logout">Crear Ciudad</span>
            <span class="material-symbols-outlined">
                add
            </span>
        </a>
    </div>
    <table id="MyTable" class="">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ciudad</th>
                <th>Departamento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.ciu_id</td>
                    <td>@data.ciu_nombre</td>
                    <td>@data.ciu_depto</td>
                    <td>
                        <a href="@Url.Action("Edit", "Ciudad", new { id = data.ciu_id })">
                            <span class="material-symbols-outlined icon-actions-table">
                                edit_square
                            </span>
                        </a>

                        <a href="@Url.Action("Details", "Ciudad", new { id = data.ciu_id })">
                            <span class="material-symbols-outlined icon-actions-table">
                                text_ad
                            </span>
                        </a>
                        <a href="@Url.Action("Delete", "Ciudad", new { id = data.ciu_id })">
                            <span class="material-symbols-outlined icon-actions-table">
                                delete
                            </span>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/TableScript")
}