@model IEnumerable<VentasProyect.Models.Ventas.Ventas>

@{
    ViewBag.Title = "Ventas";
}

@Styles.Render("~/tables")

<h2>Ventas</h2>

<div class="col-md-12 table-style">
    @*<div class="container-buttom">
        <a href="@Url.Action("Create", "Ventas")" class="btn btn-default btn-add-form">
            <span class="icon-logout">Registrar Venta</span>
            <span class="material-symbols-outlined">
                add
            </span>
        </a>
    </div>*@

    @if (Model == null || !Model.Any())
    {
        <div>No hay ventas disponibles.</div>
    }
    else
    {
        <table id="MyTable" class="">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Cliente</th>
                    <th>Nombre Vende</th>
                    <th>Fecha </th>
                    <th>Mét. Pago</th>
                    <th>Total</th>
                    <th>Nro. de Transacción</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var venta in Model)
                {
                    <tr>
                        <td>@venta.ven_id</td>
                        <td>@venta.per_nombre</td>
                        <td>@venta.usu_nombre</td>
                        <td>@venta.ven_fecha</td>
                        <td>@venta.ven_metodo_pago</td>
                        <td>@venta.ven_total</td>
                        <td>@venta.ven_numero_transaccion</td>
                        <td>
                            <a href="@Url.Action("Edit", "Ventas", new { id = venta.ven_id })">
                                <span class="material-symbols-outlined icon-actions-table">
                                    edit_square
                                </span>
                            </a>
                            <a href="@Url.Action("Details", "Ventas", new { id = venta.ven_id })">
                                <span class="material-symbols-outlined icon-actions-table">
                                    text_ad
                                </span>
                            </a>
                            @*<a href="@Url.Action("Delete", "Ventas", new { id = venta.ven_id })">
                                <span class="material-symbols-outlined icon-actions-table">
                                    delete
                                </span>
                            </a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@section Scripts {
    @Scripts.Render("~/TableScript")
}