@model VentasProyect.Models.usuario.usuario

@{
    ViewBag.Title = "Crear Nuevo Usuario";
}

@Styles.Render("~/Forms")
@Styles.Render("~/Validations")

<div class="container-buttom">
    <a href="@Url.Action("Index", "Usuario")" class="btn btn-default btn-back">
        <span class="material-symbols-outlined">
            arrow_circle_left
        </span>
        <span class="icon-logout">Regresar</span>
    </a>
</div>

<div class="form-container">

    <h2>CREAR USUARIO</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined">
                        manage_accounts
                    </span>
                    @Html.TextBoxFor(model => model.usu_nombre, new { @class = "form-control", placeholder = "Nombre" })
                    @Html.ValidationMessageFor(model => model.usu_nombre, "", new { @class = "field-validation-error error-message" })
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined">
                        Password
                    </span>
                    @Html.PasswordFor(model => model.usu_contrasenia, new { @class = "form-control", placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(model => model.usu_contrasenia, "", new { @class = "field-validation-error error-message" })
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="input-form p-right">

                <div class="icon-container">
                    <span class="material-symbols-outlined">
                        admin_panel_settings
                    </span>
                    @Html.DropDownListFor(model => model.usu_rol, new SelectList(new[]
                    {
                        new SelectListItem { Text = "Seleccione Rol", Value = "" },
                        new SelectListItem { Text = "Administrador", Value = "ADMINISTRADOR" },
                        new SelectListItem { Text = "Vendedor", Value = "VENDEDOR" }
                    }, "Value", "Text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.usu_rol, "", new { @class = "field-validation-error error-message" })
                </div>

            </div>
        </div>
        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined">
                        mail
                    </span>
                    @Html.TextBoxFor(model => model.usu_correo, new { @class = "form-control", placeholder = "Correo" })
                    @Html.ValidationMessageFor(model => model.usu_correo, "", new { @class = "field-validation-error error-message" })
                </div>
            </div>
        </div>
        <div class="content-button">
            <div class="container-btn">
                <button type="submit" class="btn btn-primary">
                    GUARDAR
                    <span class="material-symbols-outlined">
                        library_add
                    </span>
                </button>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/cryptojs")
    <script src="~/Scripts/Generales/General.js"></script>
}
