@model VentasProyect.Models.usuario.usuario

@{
    ViewBag.Title = "Editar Usuario";
}

@Styles.Render("~/Forms")

<div class="container-buttom">
    <a href="@Url.Action("Index", "Usuario")" class="btn btn-default btn-back">
        <span class="material-symbols-outlined">
            arrow_circle_left
        </span>
        <span class="icon-logout">Regresar</span>
    </a>
</div>

<div class="form-container">
    <h2>EDITAR USUARIO</h2>

    @using (Html.BeginForm("Edit", "Usuario", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.usu_id)

        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined pos-top">
                        manage_accounts
                    </span>
                    @Html.LabelFor(model => model.usu_nombre)
                    @Html.TextBoxFor(model => model.usu_nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.usu_nombre, "", new { @class = "field-validation-error" })
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined pos-top">
                        manage_accounts
                    </span>
                    @Html.LabelFor(model => model.usu_rol)
                    @Html.TextBoxFor(model => model.usu_rol, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.usu_rol, "", new { @class = "field-validation-error" })
                </div>
            </div>
        </div>
        <div class="row-form">
            <div class="input-form p-right">
                <div class="icon-container">
                    <span class="material-symbols-outlined pos-top">
                        manage_accounts
                    </span>
                    @Html.LabelFor(model => model.usu_correo)
                    @Html.TextBoxFor(model => model.usu_correo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.usu_nombre, "", new { @class = "field-validation-error" })
                </div>
            </div>
        </div>
        <div class="content-button">
            <div class="container-btn">
                <button type="submit" class="btn btn-primary">
                    GUARDAR
                    <span class="material-symbols-outlined">
                        source_notes
                    </span>
                </button>
            </div>
        </div>
    }

</div>
