@model IEnumerable<VentasProyect.Models.usuario.usuario>

@{
    ViewBag.Title = "Usuarios";
}

@Styles.Render("~/Table")

<h2>Usuarios</h2>

<div class="col-md-12 table-style">
    <div class="container-buttom">
        <a href="@Url.Action("Create", "Usuario")" class="btn btn-default btn-add-form">
            <span class="icon-logout">Registrar Usuario</span>
            <span class="material-symbols-outlined">
                add
            </span>
        </a>
    </div>
    <table id="MyTable" class="">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Contraseña</th>
                <th>Rol</th>
                <th>Correo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.usu_id</td>
                    <td>@usuario.usu_nombre</td>
                    <td>@usuario.usu_contrasenia</td>
                    <td>@usuario.usu_rol</td>
                    <td>@usuario.usu_correo</td>
                    <td>
                        <a href="@Url.Action("Edit", "Usuario", new { id = usuario.usu_id })">
                            <span class="material-symbols-outlined icon-actions-table">
                                edit_square
                            </span>
                        </a>

                        <a href="@Url.Action("Details", "Usuario", new { id = usuario.usu_id })">
                            <span class="material-symbols-outlined icon-actions-table">
                                text_ad
                            </span>
                        </a>
                        <a href="@Url.Action("Delete", "Usuario", new { id = usuario.usu_id })">
                            <span class="material-symbols-outlined icon-actions-table">
                                delete
                            </span>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/TableScript")
}