<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="~/Img/LogoVenture.png">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Venture Sales</title>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script src="~/Scripts/jquery-3.x-git.min.js"></script>
    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />*@
    <link rel="stylesheet" href="~/Content/Fonts-css2.css" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Layout")
    @Styles.Render("~/HomeIndex")
    @Scripts.Render("~/ScrLayout")

</head>
<body>

    @*@{
            bool sessionStatus = (bool)(Session["SessionStatus"] ?? false);
            var displayStatus = sessionStatus ? "block" : "none";
        }*@

    @{
        bool sessionStatus = true; 
        var displayStatus = sessionStatus ? "block" : "none";
    }
    <div class="distribution">
        <div class="nav-bar @(sessionStatus ? "sidebar-visible" : "sidebar-hidden")">
            <div class="txtBox-search">
                <input type="text" id="search" class="input-search form-control" placeholder="Realizar busqueda" />
                <span class="material-symbols-outlined icon-search">
                    search
                </span>
            </div>
            <div class="user-info @(sessionStatus ? "visible" : "hidden")">
                <span class="user-name">Administrador</span>
                <span class="material-symbols-outlined account-icon">
                    account_circle
                </span>
            </div>
            <div class="">
                <ul class="btn-login" style="display:@(sessionStatus ? "none" : "block")">
                    <li>
                        <a href="~/Login/Index" class="btn btn-default navbar-btn">
                            Iniciar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="sidebar" style="display:@displayStatus">
        <div class="">
            <div class="nav-item name">
                <a class="name-style" href="@Url.Action("Index", "Home")" asp-controller="Home" asp-action="Index">
                    <div class="logo-content">
                        <img src="~/Img/logo.svg" alt="imagen" class="background-image">
                    </div>
                    <div class="text-name">
                        Venture Sales
                    </div>
                </a>
            </div>
        </div>

        <div class="menu">
            <div class="menu-icon" id="menuToggle">
                <span class="material-symbols-outlined icon2">
                    menu_open
                </span>
            </div>
            <div class="menu-context">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")" asp-controller="Home" asp-action="Index">
                            <span class="material-symbols-outlined icon @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                grid_view
                            </span>
                            <span class="nav-link-text">
                                Panel Principal
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Persona", new { type = "Cliente" })">
                            <span class="material-symbols-outlined icon @(ViewContext.RouteData.Values["Controller"].ToString() == "Persona" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                groups
                            </span>
                            <span class="nav-link-text">
                                Clientes
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Persona", new { type = "Proveedor" })">
                            <span class="material-symbols-outlined icon @(ViewContext.RouteData.Values["Controller"].ToString() == "Persona" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                engineering
                            </span>
                            <span class="nav-link-text">
                                Proveedores
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Ventas")">
                            <span class="material-symbols-outlined icon @(ViewContext.RouteData.Values["Controller"].ToString() == "Ventas" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                currency_exchange
                            </span>
                            <span class="nav-link-text">
                                Ventas
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Productos")" asp-controller="Productos" asp-action="Index">
                            <span class="material-symbols-outlined icon @(ViewContext.RouteData.Values["Controller"].ToString() == "Productos" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                inventory_2
                            </span>
                            <span class="nav-link-text">
                                Productos
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Ciudad")">
                            <span class="material-symbols-outlined icon @(ViewContext.RouteData.Values["Controller"].ToString() == "Ciudad" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                location_city
                            </span>
                            <span class="nav-link-text">
                                Ciudades
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Usuario")">
                            <span class="material-symbols-outlined icon @(ViewContext.RouteData.Values["Controller"].ToString() == "Usuario" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                manage_accounts
                            </span>
                            <span class="nav-link-text">
                                Usuarios
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Categoria")">
                            <span class="material-symbols-outlined icon @(ViewContext.RouteData.Values["Controller"].ToString() == "Categorias" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                category
                            </span>
                            <span class="nav-link-text">
                                Categorias
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="reportLink">
                            <span class="material-symbols-outlined icon @(ViewContext.RouteData.Values["Controller"].ToString() == "Reportes" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                lab_profile
                            </span>
                            <span class="nav-link-text">
                                Reportes
                            </span>
                        </a>
                        <div id="reportOptions" style="display: none; padding-left: 20px;">
                            <a class="nav-link" href="@Url.Action("Graficos", "Reportes", new { reportType = "Graficos" })">
                                Sitio Web
                            </a>
                            <a class="nav-link" href="@Url.Action("Index", "Reportes", new { reportType = "Para exportar" })">
                                Administrativos
                            </a>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-logout">
            <ul class="nav navbar-nav navbar-right " style="display:@((bool)Session["SessionStatus"] ? "block" : "none")" id="btnCloseSesion">
                <li>
                    <a href="" class="btn btn-default navbar-btn btn-logout-in">
                        <span class="material-symbols-outlined">
                            logout
                        </span>
                        <span class="icon-logout">Cerrar Sesión</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Venture Sales</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link href="~/Content/datatables.min.css" rel="stylesheet">
    <script src="~/Scripts/datatables.min.js"></script>

    <script>
document.addEventListener('DOMContentLoaded', function () {
    let isLoggedIn = @( (bool)(Session["SessionStatus"] ?? false) ? "true" : "false" );

    if (isLoggedIn) {
        let navbar = document.querySelector('.nav-bar');
        let bodyContent = document.querySelector('.body-content');
        if (navbar) {
            navbar.classList.add('logged-in2');
        }
        if (bodyContent) {
            bodyContent.classList.add('logged-in');
        }
    }

    // Agregar el manejador de eventos para el enlace de "Reportes"
    var reportLink = document.getElementById("reportLink");
    var reportOptions = document.getElementById("reportOptions");

    reportLink.addEventListener('click', function(event) {
        event.preventDefault();
        if (reportOptions.style.display === "none" || reportOptions.style.display === "") {
            reportOptions.style.display = "block";
        } else {
            reportOptions.style.display = "none";
        }
    });
});
    </script>


</body>
</html>

