@model VentasProyect.Models.Categoria.Categoria

@{
    ViewBag.Title = "Crear Categoria";
}


@Styles.Render("~/Forms")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-container">

        <h2>Crear Categoria</h2>
        <div class="form-group">
            @Html.LabelFor(model => model.cat_nombre)
            @Html.TextBoxFor(model => model.cat_nombre, new { @class = "form-control", @onchange = "CapitalizeText(this)" })
            @Html.ValidationMessageFor(model => model.cat_nombre, "", new { @class = "field-validation-error" })

        </div>

        <button type="submit" class="btn btn-primary">CREAR</button>

    </div>
}


    <script src="~/Scripts/Generales/General.js"></script>
