@model IEnumerable<VentasProyect.Models.Categoria.Categoria>

@{
    ViewBag.Title = "Categoria";
}

@Styles.Render("~/tables")

<h2>Categorias</h2>

<div class="col-md-12 table-style">
    <div class="container-buttom">
        <a href="@Url.Action("Create", "Categoria")" class="btn btn-default btn-add-form">
            <span class="icon-logout">Registrar Categoría</span>
            <span class="material-symbols-outlined">
                add
            </span>
        </a>
    </div>

    <table id="MyTable" class="">
        <thead>
            <tr>
                <th>ID</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.cat_id</td>
                    <td>@data.cat_nombre</td>
                    <td>
                        <a href="@Url.Action("Edit", "Categoria", new { id = data.cat_id })">
                            <span class="material-symbols-outlined icon-actions-table">
                                edit
                            </span>
                        </a>

                        <a href="@Url.Action("Details", "Categoria", new { id = data.cat_id })">
                            <span class="material-symbols-outlined icon-actions-table">
                                data_info_alert
                            </span>
                        </a>
                        <a href="@Url.Action("Delete", "Categoria", new { id = data.cat_id })">
                            <span class="material-symbols-outlined icon-actions-table">
                                delete
                            </span>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/TableScript")
}
